<div class="experience-section">
    <h1>Experience</h1>
  
    <!-- Latest Experience -->
    <div class="experience">
      <div class="experience-item">
        <h3>Eclectics International Limited</h3>
        <p>Software Company - August 2024 to Present</p>
        <p>At Eclectics, I designed and developed responsive user interfaces using React, JavaScript, CSS, and HTML, collaborating closely with backend teams to integrate APIs and optimize performance. My role included implementing a scalable component-based architecture and debugging to improve user experience.</p>
      </div>
  
      <!-- Previous Experience -->
      <div class="experience-item">
        <h3>Communications Authority of Kenya</h3>
        <p>Intern - January 2024 to April 2024</p>
        <p>As an intern, I assisted with writing, testing, and debugging code, researching emerging technologies, and providing technical support. I gained experience in database management and hardware troubleshooting.</p>
      </div>
  
      <!-- Freelancing Experience -->
      <div class="experience-item">
        <h3>Freelancing Platforms</h3>
        <p>Upwork, Fiverr, and Freelancer</p>
        <p>I offer my skills on platforms like Upwork, Fiverr, and Freelancer, working on projects involving frontend and backend development, API integration, and network troubleshooting, tailored to client specifications.</p>
      </div>
    </div>
  </div>
  <div class="contact-info">
    <h3>Contact Information</h3>
    <ul>
      <li><fa-icon [icon]="faPhone"></fa-icon> +254 705980006</li>
      <li><fa-icon [icon]="faEnvelope"></fa-icon> vincentkiprotich76gmail.com</li>
      <li><fa-icon [icon]="faMapMarkerAlt"></fa-icon> 1168-30100 Eldoret, Kenya</li>
      <li><a href="https://github.com/yourusername" target="_blank"><fa-icon [icon]="faMap"></fa-icon> GitHub</a></li>
      <li><a href="https://vincentmaru.vercel.app/" target="_blank"><fa-icon [icon]="faGlobe"></fa-icon> Website</a></li>
      <li>
        <a href="https://www.linkedin.com/in/vincentkiprotich/" target="_blank">
          <fa-icon [icon]="faLinkedin"></fa-icon> LinkedIn
        </a>
      </li>
    </ul>
  </div>
  