<div *ngFor="let project of projects" class="project-container">
    <div class="project-screenshot" (mouseover)="showLanguages = true" (mouseleave)="showLanguages = false">
      <img [src]="project.screenshot" alt="{{ project.name }}" />
      <div *ngIf="showLanguages" class="languages-overlay">
        <p>{{ project.languages.join(', ') }}</p>
      </div>
    </div>
    <div class="project-description">
      <h3>{{ project.name }}</h3>
      <p>{{ project.description }}</p>
    </div>
  </div>
  <div class="contact-info">
    <h3>Contact Information</h3>
    <ul>
      <li><fa-icon [icon]="faPhone"></fa-icon> +254 705980006</li>
      <li><fa-icon [icon]="faEnvelope"></fa-icon> vincentkiprotich76gmail.com</li>
      <li><fa-icon [icon]="faMapMarkerAlt"></fa-icon> 1168-30100 Eldoret, Kenya</li>
      <li><a href="https://github.com/yourusername" target="_blank"><fa-icon [icon]="faMap"></fa-icon> GitHub</a></li>
      <li><a href="https://vincentmaru.vercel.app/" target="_blank"><fa-icon [icon]="faGlobe"></fa-icon> Website</a></li>
      <li>
        <a href="https://www.linkedin.com/in/vincentkiprotich/" target="_blank">
          <fa-icon [icon]="faLinkedin"></fa-icon> LinkedIn
        </a>
      </li>
    </ul>
  </div>
  