/* Ensure the entire window is filled without extra space */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.home-content {
    background-color: rgb(18, 26, 44); /* Content background color */
    min-height: 100vh;                 /* Fills the viewport height */
  padding: auto;
  margin: -8px;
    width: 100vw;                      /* Full width */
    overflow: hidden;  
    overflow-y: hidden; /* Prevents vertical scroll on body */
    /* Prevents any overflow */
}
